flows/Flow.json
[{"id":"11c91f7b.4d5fd1","type":"inject","z":"461bd837.22a2d8","name":"Hello World","topic":"","payload":"http://node-red.ddns.net:1880/getAudio/hello-world","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":60,"wires":[["e5f64e7c.f51bc"]]},{"id":"ed6e72c9.0541d","type":"microPi","z":"461bd837.22a2d8","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://192.168.0.123:1880","samplerate":"16000","bitdepth":"16","channels":"2","silence":"15","x":440,"y":220,"wires":[["ae6583d.c45ba8","5c5785c0.ddc85c"],["69658bee.657064","37354fe2.6d48d"]]},{"id":"d6f30870.4b06c8","type":"inject","z":"461bd837.22a2d8","name":"start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":120,"wires":[["ed6e72c9.0541d"]]},{"id":"f66df706.7fd618","type":"inject","z":"461bd837.22a2d8","name":"stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["ed6e72c9.0541d"]]},{"id":"b470093c.35f2e8","type":"ui_text","z":"461bd837.22a2d8","group":"232080c2.7f98c","order":2,"width":"0","height":"0","name":"","label":"Transcription","format":"{{msg.transcription}}","layout":"row-left","x":1470,"y":60,"wires":[]},{"id":"b7a03fcd.51765","type":"file","z":"461bd837.22a2d8","name":"","filename":"/home/pi/audio/log_speech2text.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1540,"y":380,"wires":[]},{"id":"6bbb4094.fac71","type":"speakerpi-output","z":"461bd837.22a2d8","choose":"filebased","filename":"","channels":"1","bitdepth":"16","samplerate":"22050","name":"","x":880,"y":60,"wires":[]},{"id":"ae6583d.c45ba8","type":"change","z":"461bd837.22a2d8","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"/home/pi/audio/demo.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":140,"wires":[["6bbb4094.fac71"]]},{"id":"5c5785c0.ddc85c","type":"watson-speech-to-text","z":"461bd837.22a2d8","name":"","continuous":true,"lang":"en-UK","langhidden":"en-UK","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"kC33PEJRoxl8","x":860,"y":220,"wires":[["b470093c.35f2e8","8fb0d874.7b9ef8","e1ecb817.dbcb48","5fd48eb7.3171f","d5cbf76.9bf2208","89f22273.982ba","94d83ca1.46278","11f2805b.cf282","e650f0e0.e662","f8b6e8d6.f0a618","d2f10bbe.cc1bf"]]},{"id":"8cf91262.68c82","type":"http in","z":"461bd837.22a2d8","name":"","url":"/getAudio/","method":"get","swaggerDoc":"","x":160,"y":680,"wires":[["f5f37690.e455c8"]]},{"id":"f5f37690.e455c8","type":"file in","z":"461bd837.22a2d8","name":"","filename":"/home/pi/audio/demo.wav","format":"","x":490,"y":680,"wires":[["78ab66c6.48d918"]]},{"id":"78ab66c6.48d918","type":"http response","z":"461bd837.22a2d8","name":"","x":770,"y":680,"wires":[]},{"id":"e5f64e7c.f51bc","type":"change","z":"461bd837.22a2d8","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"/home/pi/audio/speech.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":60,"wires":[["6bbb4094.fac71","5c5785c0.ddc85c"]]},{"id":"bc0a3553.1e6948","type":"http in","z":"461bd837.22a2d8","name":"","url":"/getAudio/hello-world","method":"get","swaggerDoc":"","x":190,"y":720,"wires":[["eed787a8.2d9ad8"]]},{"id":"eed787a8.2d9ad8","type":"file in","z":"461bd837.22a2d8","name":"","filename":"/home/pi/audio/speech.wav","format":"","x":500,"y":720,"wires":[["6d42336c.f1d9ac"]]},{"id":"6d42336c.f1d9ac","type":"http response","z":"461bd837.22a2d8","name":"","x":770,"y":720,"wires":[]},{"id":"58b88a2f.f00144","type":"ui_text","z":"461bd837.22a2d8","group":"232080c2.7f98c","order":1,"width":0,"height":0,"name":"","label":"Timestamp","format":"{{msg.timestamp}}","layout":"row-left","x":1470,"y":100,"wires":[]},{"id":"8fb0d874.7b9ef8","type":"change","z":"461bd837.22a2d8","name":"","rules":[{"t":"delete","p":"filename","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"fullresult[0].alternatives[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":400,"wires":[["b7a03fcd.51765","cfdd933a.7032b"]]},{"id":"e1ecb817.dbcb48","type":"ui_text","z":"461bd837.22a2d8","group":"232080c2.7f98c","order":3,"width":"26","height":"1","name":"","label":"Confidence","format":"{{msg.fullresult[0].alternatives[0].confidence}}","layout":"row-left","x":1470,"y":140,"wires":[]},{"id":"5fd48eb7.3171f","type":"function","z":"461bd837.22a2d8","name":"","func":"if(msg.fullresult) {\nreturn {payload:msg.fullresult[0].alternatives[0].confidence};\n}","outputs":1,"noerr":0,"x":1330,"y":200,"wires":[["5af1aed2.414e1","ff0d740b.d61298"]]},{"id":"5af1aed2.414e1","type":"ui_gauge","z":"461bd837.22a2d8","name":"Confidence","group":"232080c2.7f98c","order":9,"width":"10","height":"10","gtype":"wave","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"1.000","x":1470,"y":180,"wires":[]},{"id":"ff0d740b.d61298","type":"ui_chart","z":"461bd837.22a2d8","group":"232080c2.7f98c","order":8,"width":"15","height":"10","label":"Confidence Chart","name":"Confidence","interpolate":"linear","nodata":"Confidence","ymin":"0","ymax":"1.000","removeOlder":"1","removeOlderUnit":"86400","x":1470,"y":220,"wires":[[],[]]},{"id":"cfdd933a.7032b","type":"cloudant out","z":"461bd837.22a2d8","name":"Cloudant NoSQL DB - fullresult","cloudant":"c85b715d.8e442","database":"fullresult","service":"_ext_","payonly":true,"operation":"insert","x":1530,"y":420,"wires":[]},{"id":"331578fa.6df3c8","type":"cloudant out","z":"461bd837.22a2d8","name":"Cloudant NoSQL DB - transcription","cloudant":"c85b715d.8e442","database":"transcription","service":"_ext_","payonly":true,"operation":"insert","x":1540,"y":460,"wires":[]},{"id":"d5cbf76.9bf2208","type":"change","z":"461bd837.22a2d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":460,"wires":[["331578fa.6df3c8"]]},{"id":"312cf149.1896de","type":"rpi-gpio in","z":"461bd837.22a2d8","name":"","pin":"7","intype":"down","debounce":"1000","read":true,"x":130,"y":320,"wires":[["ab9104c5.2ca058"]]},{"id":"ab9104c5.2ca058","type":"function","z":"461bd837.22a2d8","name":"Pin 7","func":"if(msg.payload === 1)\n{ return {payload:true}; } \nelse \n{ return {payload:false}; }","outputs":1,"noerr":0,"x":230,"y":320,"wires":[["ed6e72c9.0541d"]]},{"id":"ab25734b.a5c9d8","type":"http in","z":"461bd837.22a2d8","name":"","url":"/playAudio/latest","method":"get","swaggerDoc":"","x":180,"y":500,"wires":[["69f8f039.92be88"]]},{"id":"69f8f039.92be88","type":"template","z":"461bd837.22a2d8","name":"playAudio.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">    \n    <head>\n        <meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->\n        <title>Play Audio</title>\n        \n        <!-- Latest compiled and minified CSS -->\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n        \n        <!-- Optional theme -->\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css\" integrity=\"sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp\" crossorigin=\"anonymous\">\n        \n        <!-- Latest compiled and minified JavaScript -->\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n         <script src=”//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js”></script>\n        <script src=”//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js”></script>\n        <script src=”//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js”></script>\n    </head>\n    <body>\n        <div class=\"container theme-showcase\" role=\"main\">\n            <div>\n                <h1>Play the Latest Recording</h1> \n                <div>\n                    <audio controls>\n                         <source src=\"/getAudio\" type=\"audio/wav\">\n                         Your browser does not support the audio element.\n                    </audio>\n                </div>\n                <div>\n                    <div>\n                        <form action=\"http://192.168.0.123:1880/record\" method=\"post\">\n                            <input type=\"hidden\" name=\"recording\" value=\"true\" />\n                        <button type=\"submit\" class=\"btn btn-lg btn-primary\">Start Recording</button>\n                    </form>\n                    </div>\n                    <div>\n                        <form action=\"http://192.168.0.123:1880/stop\" method=\"post\">\n                            <input type=\"hidden\" name=\"recording\" value=\"false\" />\n                        <button type=\"submit\" class=\"btn btn-lg btn-primary\">Stop Recording</button>\n                    </form>\n                    </div>\n                    <div>\n                        <form action=\"http://192.168.0.123:1880/playAudio/latest\" method=\"get\">\n                        <button type=\"submit\" class=\"btn btn-lg btn-primary\">Refresh</button>\n                    </form>\n                    </div>\n                    <div>\n                    </div>\n                </div>\n            </div>\n        </div> <!-- /container -->\n            <!-- Bootstrap core JavaScript\n        ================================================== -->\n        <!-- Placed at the end of the document so the pages load faster -->\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script>window.jQuery || document.write('<script src=\"../../assets/js/vendor/jquery.min.js\"><\\/script>')</script>\n        <script src=\"../../dist/js/bootstrap.min.js\"></script>\n        <script src=\"../../assets/js/docs.min.js\"></script>\n        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->\n        <script src=\"../../assets/js/ie10-viewport-bug-workaround.js\"></script>\n    </body>\n</html>","x":460,"y":500,"wires":[["ee4d92ff.df8318"]]},{"id":"ee4d92ff.df8318","type":"http response","z":"461bd837.22a2d8","name":"","x":770,"y":500,"wires":[]},{"id":"1ac273af.092ec4","type":"ui_button","z":"461bd837.22a2d8","name":"","group":"232080c2.7f98c","order":6,"width":"13","height":"1","label":"Record","color":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":130,"y":220,"wires":[["ed6e72c9.0541d"]]},{"id":"49252fa6.2071f","type":"ui_button","z":"461bd837.22a2d8","name":"","group":"232080c2.7f98c","order":7,"width":"13","height":"1","label":"Stop","color":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":130,"y":260,"wires":[["ed6e72c9.0541d"]]},{"id":"d86d0e88.1de94","type":"template","z":"461bd837.22a2d8","name":"dashboard.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<head>\n    <title>A Node RED Example</title>\n    <link rel=”stylesheet” href=”//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css”>\n    <script src=”//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js”></script>\n    <script src=”//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js”></script>\n    <script src=”//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js”></script>\n</head>\n<html>\n    <div id=”chart-example” style=”height: 250px;”></div>\n    <h1>Play the Latest Recording</h1> \n    <div>\n        <audio controls>\n             <source src=\"/getAudio\" type=\"audio/wav\">\n             Your browser does not support the audio element.\n        </audio>\n    </div>\n    <div>\n    <script>\n        Morris.Donut({\n           element: ‘chart-example’,\n           data: [\n             {label: “Confidence”, value: {{payload.fullresult[0].alternatives[0].confidence}} }\n          ]\n       });\n    </script>\n    </div>\n</html>\n","x":460,"y":540,"wires":[["815efaa0.d982f8"]]},{"id":"94bc6b21.448968","type":"http in","z":"461bd837.22a2d8","name":"","url":"/dashboard","method":"get","swaggerDoc":"","x":160,"y":540,"wires":[["d86d0e88.1de94"]]},{"id":"815efaa0.d982f8","type":"http response","z":"461bd837.22a2d8","name":"","x":770,"y":540,"wires":[]},{"id":"5d352a76.d4b414","type":"http in","z":"461bd837.22a2d8","name":"","url":"/record","method":"post","swaggerDoc":"","x":150,"y":400,"wires":[["ed6e72c9.0541d","35187d6e.ae5942","69f8f039.92be88"]]},{"id":"cd71fc01.c2eb18","type":"http in","z":"461bd837.22a2d8","name":"","url":"/stop","method":"post","swaggerDoc":"","x":149,"y":437,"wires":[["ed6e72c9.0541d","35187d6e.ae5942","69f8f039.92be88"]]},{"id":"35187d6e.ae5942","type":"function","z":"461bd837.22a2d8","name":"Set Payload","func":"if(msg.payload.recording == \"true\") {\n    return {payload:true};\n} else if(msg.payload.recording == \"false\"){\n    return {payload:false};\n}\n","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["ed6e72c9.0541d"]]},{"id":"89f22273.982ba","type":"function","z":"461bd837.22a2d8","name":"","func":"    var now     = new Date(); \n    var year    = now.getFullYear();\n    var month   = now.getMonth()+1; \n    var day     = now.getDate();\n    var hour    = now.getHours();\n    var minute  = now.getMinutes();\n    var second  = now.getSeconds(); \n    var msec    = now.getMilliseconds();\n    \n    if(month.toString().length == 1) {\n    var month = '0'+month;\n    }\n    if(day.toString().length == 1) {\n    var day = '0'+day;\n    }   \n    if(hour.toString().length == 1) {\n    var hour = '0'+hour;\n    }\n    if(minute.toString().length == 1) {\n    var minute = '0'+minute;\n    }\n    if(second.toString().length == 1) {\n    var second = '0'+second;\n    }   \n    if(msec.toString().length == 1) {\n    var msec = '00'+second;\n    } else if(msec.toString().length == 2) {\n    var msec = '0'+second;\n    }   \n    msg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;//+':'+msec;\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":100,"wires":[["58b88a2f.f00144"]]},{"id":"94d83ca1.46278","type":"function","z":"461bd837.22a2d8","name":"","func":"if(msg.fullresult) {\nif(msg.fullresult[0].alternatives[0].transcript == \"hello world\") {\n    return {payload:\"http://192.168.0.123:1880/getAudio/hello-world\"};\n} else if(msg.fullresult) {\n    return {payload:\"http://192.168.0.123:1880/getAudio\"};\n}\n}","outputs":1,"noerr":0,"x":1330,"y":260,"wires":[["6373ca77.2b61c4"]]},{"id":"5f39b360.3832cc","type":"template","z":"461bd837.22a2d8","name":"player.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<audio controls>\n     <source src=\"http://192.168.0.123:1880/getAudio\" type=\"audio/wav\">\n     Your browser does not support the audio element.\n</audio>\n","x":450,"y":580,"wires":[["c942efc6.ed60b"]]},{"id":"43c267c3.e9a608","type":"http in","z":"461bd837.22a2d8","name":"","url":"/player","method":"get","swaggerDoc":"","x":150,"y":580,"wires":[["5f39b360.3832cc"]]},{"id":"c942efc6.ed60b","type":"http response","z":"461bd837.22a2d8","name":"","x":770,"y":580,"wires":[]},{"id":"6373ca77.2b61c4","type":"ui_template","z":"461bd837.22a2d8","group":"232080c2.7f98c","name":"Play Audio","order":4,"width":"13","height":"2","format":"<div id=\"player\">\n    <audio controls>\n     <source src=http://84.113.226.228:1880/getAudio type=\"audio/wav\">\n     Your browser does not support the audio element.\n    </audio>\n</div>\n<div>\n    <a>\n    <form action=\"http://84.113.226.228:1880/ui\" method=\"get\">\n        <button type=\"submit\" class=\"btn btn-lg btn-primary\">Reload File</button>\n    </form>\n    </a>\n    <a>\n    <form action=\"http://84.113.226.228:1880/getAudio\" method=\"get\">\n        <button type=\"submit\" class=\"btn btn-lg btn-primary\">Download File</button>\n    </form>\n    </a>\n</div>\n\n","storeOutMessages":false,"fwdInMessages":false,"x":1470,"y":260,"wires":[[]]},{"id":"69658bee.657064","type":"ui_text","z":"461bd837.22a2d8","group":"232080c2.7f98c","order":5,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-left","x":610,"y":300,"wires":[]},{"id":"86f21de5.ed1e6","type":"comment","z":"461bd837.22a2d8","name":"Play Audio JQuery","info":"<div id=\"player\">\n    <audio controls>\n     <source src=\"http://192.168.0.123:1880/getAudio\" type=\"audio/wav\">\n     Your browser does not support the audio element.\n    </audio>\n</div>\n<div>\n    <button>Reload Audio File!</button>\n\n    <form action=\"http://192.168.0.123:1880/getAudio\" method=\"get\">\n    <button type=\"submit\" class=\"btn btn-lg btn-primary\">Download File</button>\n</form>\n</div>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n<script>\n$(document).ready(function(){\n    $(\"button\").click(function(file) {\n    var embed = document.createElement(\"embed\");\n \n    embed.setAttribute('src', file);\n    embed.setAttribute('hidden', true);\n    embed.setAttribute('autostart', true);\n \n    document.body.appendChild(embed);\n}\n</script>\n\n","x":1490,"y":300,"wires":[]},{"id":"11f2805b.cf282","type":"file in","z":"461bd837.22a2d8","name":"","filename":"/home/pi/audio/demo.wav","format":"","x":1130,"y":540,"wires":[["e372a0c0.4f9a9"]]},{"id":"e372a0c0.4f9a9","type":"function","z":"461bd837.22a2d8","name":"","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nvar msec    = now.getMilliseconds();\n\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nif(msec.toString().length == 1) {\nvar msec = '00'+second;\n} else if(msec.toString().length == 2) {\nvar msec = '0'+second;\n}   \n/*\nmsg.payload.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;//+':'+msec;\nmsg.payload.file = year+'-'+month+'-'+day+'_'+hour+':'+minute+':'+second+'.wav';\n\nmsg.payload.channels = msg.channels;\nmsg.payload.bits = msg.bits;\nmsg.payload.fullresult = msg.fullresult;\n\nreturn msg;}*/","outputs":1,"noerr":0,"x":1310,"y":540,"wires":[["fbcbd40f.a17e08"]]},{"id":"fbcbd40f.a17e08","type":"mysql","z":"461bd837.22a2d8","mydb":"11c628fd.6cfd37","name":"","x":1490,"y":540,"wires":[[]]},{"id":"e9389790.3cff28","type":"template","z":"461bd837.22a2d8","name":"Bootstrap Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->\n    <title>Bootstrap Demo</title>\n\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n\n    <!-- Optional theme -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css\" integrity=\"sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp\" crossorigin=\"anonymous\">\n\n    <!-- Latest compiled and minified JavaScript -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n  </head>\n\n  <body>\n\n    <!-- Fixed navbar -->\n    <nav class=\"navbar navbar-inverse navbar-fixed-top\">\n      <div class=\"container\">\n        <div class=\"navbar-header\">\n          <button type=\"button\" class=\"navbar-toggle collapsed\" data-toggle=\"collapse\" data-target=\"#navbar\" aria-expanded=\"false\" aria-controls=\"navbar\">\n            <span class=\"sr-only\">Toggle navigation</span>\n            <span class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n          </button>\n          <a class=\"navbar-brand\" href=\"#\">Bootstrap theme</a>\n        </div>\n        <div id=\"navbar\" class=\"navbar-collapse collapse\">\n          <ul class=\"nav navbar-nav\">\n            <li class=\"active\"><a href=\"#\">Home</a></li>\n            <li><a href=\"#about\">About</a></li>\n            <li><a href=\"#contact\">Contact</a></li>\n            <li class=\"dropdown\">\n              <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-haspopup=\"true\" aria-expanded=\"false\">Dropdown <span class=\"caret\"></span></a>\n              <ul class=\"dropdown-menu\">\n                <li><a href=\"#\">Action</a></li>\n                <li><a href=\"#\">Another action</a></li>\n                <li><a href=\"#\">Something else here</a></li>\n                <li role=\"separator\" class=\"divider\"></li>\n                <li class=\"dropdown-header\">Nav header</li>\n                <li><a href=\"#\">Separated link</a></li>\n                <li><a href=\"#\">One more separated link</a></li>\n              </ul>\n            </li>\n          </ul>\n        </div><!--/.nav-collapse -->\n      </div>\n    </nav>\n\n    <div class=\"container theme-showcase\" role=\"main\">\n\n      <!-- Main jumbotron for a primary marketing message or call to action -->\n      <div class=\"jumbotron\">\n        <h1>Theme example</h1>\n        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>\n      </div>\n\n\n      <div class=\"page-header\">\n        <h1>Buttons</h1>\n      </div>\n      <p>\n        <button type=\"button\" class=\"btn btn-lg btn-default\">Default</button>\n        <button type=\"button\" class=\"btn btn-lg btn-primary\">Primary</button>\n        <button type=\"button\" class=\"btn btn-lg btn-success\">Success</button>\n        <button type=\"button\" class=\"btn btn-lg btn-info\">Info</button>\n        <button type=\"button\" class=\"btn btn-lg btn-warning\">Warning</button>\n        <button type=\"button\" class=\"btn btn-lg btn-danger\">Danger</button>\n        <button type=\"button\" class=\"btn btn-lg btn-link\">Link</button>\n      </p>\n      <p>\n        <button type=\"button\" class=\"btn btn-default\">Default</button>\n        <button type=\"button\" class=\"btn btn-primary\">Primary</button>\n        <button type=\"button\" class=\"btn btn-success\">Success</button>\n        <button type=\"button\" class=\"btn btn-info\">Info</button>\n        <button type=\"button\" class=\"btn btn-warning\">Warning</button>\n        <button type=\"button\" class=\"btn btn-danger\">Danger</button>\n        <button type=\"button\" class=\"btn btn-link\">Link</button>\n      </p>\n      <p>\n        <button type=\"button\" class=\"btn btn-sm btn-default\">Default</button>\n        <button type=\"button\" class=\"btn btn-sm btn-primary\">Primary</button>\n        <button type=\"button\" class=\"btn btn-sm btn-success\">Success</button>\n        <button type=\"button\" class=\"btn btn-sm btn-info\">Info</button>\n        <button type=\"button\" class=\"btn btn-sm btn-warning\">Warning</button>\n        <button type=\"button\" class=\"btn btn-sm btn-danger\">Danger</button>\n        <button type=\"button\" class=\"btn btn-sm btn-link\">Link</button>\n      </p>\n      <p>\n        <button type=\"button\" class=\"btn btn-xs btn-default\">Default</button>\n        <button type=\"button\" class=\"btn btn-xs btn-primary\">Primary</button>\n        <button type=\"button\" class=\"btn btn-xs btn-success\">Success</button>\n        <button type=\"button\" class=\"btn btn-xs btn-info\">Info</button>\n        <button type=\"button\" class=\"btn btn-xs btn-warning\">Warning</button>\n        <button type=\"button\" class=\"btn btn-xs btn-danger\">Danger</button>\n        <button type=\"button\" class=\"btn btn-xs btn-link\">Link</button>\n      </p>\n\n\n      <div class=\"page-header\">\n        <h1>Tables</h1>\n      </div>\n      <div class=\"row\">\n        <div class=\"col-md-6\">\n          <table class=\"table\">\n            <thead>\n              <tr>\n                <th>#</th>\n                <th>First Name</th>\n                <th>Last Name</th>\n                <th>Username</th>\n              </tr>\n            </thead>\n            <tbody>\n              <tr>\n                <td>1</td>\n                <td>Mark</td>\n                <td>Otto</td>\n                <td>@mdo</td>\n              </tr>\n              <tr>\n                <td>2</td>\n                <td>Jacob</td>\n                <td>Thornton</td>\n                <td>@fat</td>\n              </tr>\n              <tr>\n                <td>3</td>\n                <td>Larry</td>\n                <td>the Bird</td>\n                <td>@twitter</td>\n              </tr>\n            </tbody>\n          </table>\n        </div>\n        <div class=\"col-md-6\">\n          <table class=\"table table-striped\">\n            <thead>\n              <tr>\n                <th>#</th>\n                <th>First Name</th>\n                <th>Last Name</th>\n                <th>Username</th>\n              </tr>\n            </thead>\n            <tbody>\n              <tr>\n                <td>1</td>\n                <td>Mark</td>\n                <td>Otto</td>\n                <td>@mdo</td>\n              </tr>\n              <tr>\n                <td>2</td>\n                <td>Jacob</td>\n                <td>Thornton</td>\n                <td>@fat</td>\n              </tr>\n              <tr>\n                <td>3</td>\n                <td>Larry</td>\n                <td>the Bird</td>\n                <td>@twitter</td>\n              </tr>\n            </tbody>\n          </table>\n        </div>\n      </div>\n\n      <div class=\"row\">\n        <div class=\"col-md-6\">\n          <table class=\"table table-bordered\">\n            <thead>\n              <tr>\n                <th>#</th>\n                <th>First Name</th>\n                <th>Last Name</th>\n                <th>Username</th>\n              </tr>\n            </thead>\n            <tbody>\n              <tr>\n                <td rowspan=\"2\">1</td>\n                <td>Mark</td>\n                <td>Otto</td>\n                <td>@mdo</td>\n              </tr>\n              <tr>\n                <td>Mark</td>\n                <td>Otto</td>\n                <td>@TwBootstrap</td>\n              </tr>\n              <tr>\n                <td>2</td>\n                <td>Jacob</td>\n                <td>Thornton</td>\n                <td>@fat</td>\n              </tr>\n              <tr>\n                <td>3</td>\n                <td colspan=\"2\">Larry the Bird</td>\n                <td>@twitter</td>\n              </tr>\n            </tbody>\n          </table>\n        </div>\n        <div class=\"col-md-6\">\n          <table class=\"table table-condensed\">\n            <thead>\n              <tr>\n                <th>#</th>\n                <th>First Name</th>\n                <th>Last Name</th>\n                <th>Username</th>\n              </tr>\n            </thead>\n            <tbody>\n              <tr>\n                <td>1</td>\n                <td>Mark</td>\n                <td>Otto</td>\n                <td>@mdo</td>\n              </tr>\n              <tr>\n                <td>2</td>\n                <td>Jacob</td>\n                <td>Thornton</td>\n                <td>@fat</td>\n              </tr>\n              <tr>\n                <td>3</td>\n                <td colspan=\"2\">Larry the Bird</td>\n                <td>@twitter</td>\n              </tr>\n            </tbody>\n          </table>\n        </div>\n      </div>\n\n\n      <div class=\"page-header\">\n        <h1>Thumbnails</h1>\n      </div>\n      <img data-src=\"holder.js/200x200\" class=\"img-thumbnail\" alt=\"A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera\">\n\n\n      <div class=\"page-header\">\n        <h1>Labels</h1>\n      </div>\n      <h1>\n        <span class=\"label label-default\">Default</span>\n        <span class=\"label label-primary\">Primary</span>\n        <span class=\"label label-success\">Success</span>\n        <span class=\"label label-info\">Info</span>\n        <span class=\"label label-warning\">Warning</span>\n        <span class=\"label label-danger\">Danger</span>\n      </h1>\n      <h2>\n        <span class=\"label label-default\">Default</span>\n        <span class=\"label label-primary\">Primary</span>\n        <span class=\"label label-success\">Success</span>\n        <span class=\"label label-info\">Info</span>\n        <span class=\"label label-warning\">Warning</span>\n        <span class=\"label label-danger\">Danger</span>\n      </h2>\n      <h3>\n        <span class=\"label label-default\">Default</span>\n        <span class=\"label label-primary\">Primary</span>\n        <span class=\"label label-success\">Success</span>\n        <span class=\"label label-info\">Info</span>\n        <span class=\"label label-warning\">Warning</span>\n        <span class=\"label label-danger\">Danger</span>\n      </h3>\n      <h4>\n        <span class=\"label label-default\">Default</span>\n        <span class=\"label label-primary\">Primary</span>\n        <span class=\"label label-success\">Success</span>\n        <span class=\"label label-info\">Info</span>\n        <span class=\"label label-warning\">Warning</span>\n        <span class=\"label label-danger\">Danger</span>\n      </h4>\n      <h5>\n        <span class=\"label label-default\">Default</span>\n        <span class=\"label label-primary\">Primary</span>\n        <span class=\"label label-success\">Success</span>\n        <span class=\"label label-info\">Info</span>\n        <span class=\"label label-warning\">Warning</span>\n        <span class=\"label label-danger\">Danger</span>\n      </h5>\n      <h6>\n        <span class=\"label label-default\">Default</span>\n        <span class=\"label label-primary\">Primary</span>\n        <span class=\"label label-success\">Success</span>\n        <span class=\"label label-info\">Info</span>\n        <span class=\"label label-warning\">Warning</span>\n        <span class=\"label label-danger\">Danger</span>\n      </h6>\n      <p>\n        <span class=\"label label-default\">Default</span>\n        <span class=\"label label-primary\">Primary</span>\n        <span class=\"label label-success\">Success</span>\n        <span class=\"label label-info\">Info</span>\n        <span class=\"label label-warning\">Warning</span>\n        <span class=\"label label-danger\">Danger</span>\n      </p>\n\n\n      <div class=\"page-header\">\n        <h1>Badges</h1>\n      </div>\n      <p>\n        <a href=\"#\">Inbox <span class=\"badge\">42</span></a>\n      </p>\n      <ul class=\"nav nav-pills\" role=\"tablist\">\n        <li role=\"presentation\" class=\"active\"><a href=\"#\">Home <span class=\"badge\">42</span></a></li>\n        <li role=\"presentation\"><a href=\"#\">Profile</a></li>\n        <li role=\"presentation\"><a href=\"#\">Messages <span class=\"badge\">3</span></a></li>\n      </ul>\n\n\n      <div class=\"page-header\">\n        <h1>Dropdown menus</h1>\n      </div>\n      <div class=\"dropdown theme-dropdown clearfix\">\n        <a id=\"dropdownMenu1\" href=\"#\" class=\"sr-only dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-haspopup=\"true\" aria-expanded=\"false\">Dropdown <span class=\"caret\"></span></a>\n        <ul class=\"dropdown-menu\" aria-labelledby=\"dropdownMenu1\">\n          <li class=\"active\"><a href=\"#\">Action</a></li>\n          <li><a href=\"#\">Another action</a></li>\n          <li><a href=\"#\">Something else here</a></li>\n          <li role=\"separator\" class=\"divider\"></li>\n          <li><a href=\"#\">Separated link</a></li>\n        </ul>\n      </div>\n\n\n      <div class=\"page-header\">\n        <h1>Navs</h1>\n      </div>\n      <ul class=\"nav nav-tabs\" role=\"tablist\">\n        <li role=\"presentation\" class=\"active\"><a href=\"#\">Home</a></li>\n        <li role=\"presentation\"><a href=\"#\">Profile</a></li>\n        <li role=\"presentation\"><a href=\"#\">Messages</a></li>\n      </ul>\n      <ul class=\"nav nav-pills\" role=\"tablist\">\n        <li role=\"presentation\" class=\"active\"><a href=\"#\">Home</a></li>\n        <li role=\"presentation\"><a href=\"#\">Profile</a></li>\n        <li role=\"presentation\"><a href=\"#\">Messages</a></li>\n      </ul>\n\n\n      <div class=\"page-header\">\n        <h1>Navbars</h1>\n      </div>\n\n      <nav class=\"navbar navbar-default\">\n        <div class=\"container\">\n          <div class=\"navbar-header\">\n            <button type=\"button\" class=\"navbar-toggle collapsed\" data-toggle=\"collapse\" data-target=\".navbar-collapse\">\n              <span class=\"sr-only\">Toggle navigation</span>\n              <span class=\"icon-bar\"></span>\n              <span class=\"icon-bar\"></span>\n              <span class=\"icon-bar\"></span>\n            </button>\n            <a class=\"navbar-brand\" href=\"#\">Project name</a>\n          </div>\n          <div class=\"navbar-collapse collapse\">\n            <ul class=\"nav navbar-nav\">\n              <li class=\"active\"><a href=\"#\">Home</a></li>\n              <li><a href=\"#about\">About</a></li>\n              <li><a href=\"#contact\">Contact</a></li>\n              <li class=\"dropdown\">\n                <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-haspopup=\"true\" aria-expanded=\"false\">Dropdown <span class=\"caret\"></span></a>\n                <ul class=\"dropdown-menu\">\n                  <li><a href=\"#\">Action</a></li>\n                  <li><a href=\"#\">Another action</a></li>\n                  <li><a href=\"#\">Something else here</a></li>\n                  <li role=\"separator\" class=\"divider\"></li>\n                  <li class=\"dropdown-header\">Nav header</li>\n                  <li><a href=\"#\">Separated link</a></li>\n                  <li><a href=\"#\">One more separated link</a></li>\n                </ul>\n              </li>\n            </ul>\n          </div><!--/.nav-collapse -->\n        </div>\n      </nav>\n\n      <nav class=\"navbar navbar-inverse\">\n        <div class=\"container\">\n          <div class=\"navbar-header\">\n            <button type=\"button\" class=\"navbar-toggle collapsed\" data-toggle=\"collapse\" data-target=\".navbar-collapse\">\n              <span class=\"sr-only\">Toggle navigation</span>\n              <span class=\"icon-bar\"></span>\n              <span class=\"icon-bar\"></span>\n              <span class=\"icon-bar\"></span>\n            </button>\n            <a class=\"navbar-brand\" href=\"#\">Project name</a>\n          </div>\n          <div class=\"navbar-collapse collapse\">\n            <ul class=\"nav navbar-nav\">\n              <li class=\"active\"><a href=\"#\">Home</a></li>\n              <li><a href=\"#about\">About</a></li>\n              <li><a href=\"#contact\">Contact</a></li>\n              <li class=\"dropdown\">\n                <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-haspopup=\"true\" aria-expanded=\"false\">Dropdown <span class=\"caret\"></span></a>\n                <ul class=\"dropdown-menu\">\n                  <li><a href=\"#\">Action</a></li>\n                  <li><a href=\"#\">Another action</a></li>\n                  <li><a href=\"#\">Something else here</a></li>\n                  <li role=\"separator\" class=\"divider\"></li>\n                  <li class=\"dropdown-header\">Nav header</li>\n                  <li><a href=\"#\">Separated link</a></li>\n                  <li><a href=\"#\">One more separated link</a></li>\n                </ul>\n              </li>\n            </ul>\n          </div><!--/.nav-collapse -->\n        </div>\n      </nav>\n\n\n      <div class=\"page-header\">\n        <h1>Alerts</h1>\n      </div>\n      <div class=\"alert alert-success\" role=\"alert\">\n        <strong>Well done!</strong> You successfully read this important alert message.\n      </div>\n      <div class=\"alert alert-info\" role=\"alert\">\n        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.\n      </div>\n      <div class=\"alert alert-warning\" role=\"alert\">\n        <strong>Warning!</strong> Best check yo self, you're not looking too good.\n      </div>\n      <div class=\"alert alert-danger\" role=\"alert\">\n        <strong>Oh snap!</strong> Change a few things up and try submitting again.\n      </div>\n\n\n      <div class=\"page-header\">\n        <h1>Progress bars</h1>\n      </div>\n      <div class=\"progress\">\n        <div class=\"progress-bar\" role=\"progressbar\" aria-valuenow=\"60\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 60%;\"><span class=\"sr-only\">60% Complete</span></div>\n      </div>\n      <div class=\"progress\">\n        <div class=\"progress-bar progress-bar-success\" role=\"progressbar\" aria-valuenow=\"40\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 40%\"><span class=\"sr-only\">40% Complete (success)</span></div>\n      </div>\n      <div class=\"progress\">\n        <div class=\"progress-bar progress-bar-info\" role=\"progressbar\" aria-valuenow=\"20\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 20%\"><span class=\"sr-only\">20% Complete</span></div>\n      </div>\n      <div class=\"progress\">\n        <div class=\"progress-bar progress-bar-warning\" role=\"progressbar\" aria-valuenow=\"60\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 60%\"><span class=\"sr-only\">60% Complete (warning)</span></div>\n      </div>\n      <div class=\"progress\">\n        <div class=\"progress-bar progress-bar-danger\" role=\"progressbar\" aria-valuenow=\"80\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 80%\"><span class=\"sr-only\">80% Complete (danger)</span></div>\n      </div>\n      <div class=\"progress\">\n        <div class=\"progress-bar progress-bar-striped\" role=\"progressbar\" aria-valuenow=\"60\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width: 60%\"><span class=\"sr-only\">60% Complete</span></div>\n      </div>\n      <div class=\"progress\">\n        <div class=\"progress-bar progress-bar-success\" style=\"width: 35%\"><span class=\"sr-only\">35% Complete (success)</span></div>\n        <div class=\"progress-bar progress-bar-warning\" style=\"width: 20%\"><span class=\"sr-only\">20% Complete (warning)</span></div>\n        <div class=\"progress-bar progress-bar-danger\" style=\"width: 10%\"><span class=\"sr-only\">10% Complete (danger)</span></div>\n      </div>\n\n\n      <div class=\"page-header\">\n        <h1>List groups</h1>\n      </div>\n      <div class=\"row\">\n        <div class=\"col-sm-4\">\n          <ul class=\"list-group\">\n            <li class=\"list-group-item\">Cras justo odio</li>\n            <li class=\"list-group-item\">Dapibus ac facilisis in</li>\n            <li class=\"list-group-item\">Morbi leo risus</li>\n            <li class=\"list-group-item\">Porta ac consectetur ac</li>\n            <li class=\"list-group-item\">Vestibulum at eros</li>\n          </ul>\n        </div><!-- /.col-sm-4 -->\n        <div class=\"col-sm-4\">\n          <div class=\"list-group\">\n            <a href=\"#\" class=\"list-group-item active\">\n              Cras justo odio\n            </a>\n            <a href=\"#\" class=\"list-group-item\">Dapibus ac facilisis in</a>\n            <a href=\"#\" class=\"list-group-item\">Morbi leo risus</a>\n            <a href=\"#\" class=\"list-group-item\">Porta ac consectetur ac</a>\n            <a href=\"#\" class=\"list-group-item\">Vestibulum at eros</a>\n          </div>\n        </div><!-- /.col-sm-4 -->\n        <div class=\"col-sm-4\">\n          <div class=\"list-group\">\n            <a href=\"#\" class=\"list-group-item active\">\n              <h4 class=\"list-group-item-heading\">List group item heading</h4>\n              <p class=\"list-group-item-text\">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>\n            </a>\n            <a href=\"#\" class=\"list-group-item\">\n              <h4 class=\"list-group-item-heading\">List group item heading</h4>\n              <p class=\"list-group-item-text\">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>\n            </a>\n            <a href=\"#\" class=\"list-group-item\">\n              <h4 class=\"list-group-item-heading\">List group item heading</h4>\n              <p class=\"list-group-item-text\">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>\n            </a>\n          </div>\n        </div><!-- /.col-sm-4 -->\n      </div>\n\n\n      <div class=\"page-header\">\n        <h1>Panels</h1>\n      </div>\n      <div class=\"row\">\n        <div class=\"col-sm-4\">\n          <div class=\"panel panel-default\">\n            <div class=\"panel-heading\">\n              <h3 class=\"panel-title\">Panel title</h3>\n            </div>\n            <div class=\"panel-body\">\n              Panel content\n            </div>\n          </div>\n          <div class=\"panel panel-primary\">\n            <div class=\"panel-heading\">\n              <h3 class=\"panel-title\">Panel title</h3>\n            </div>\n            <div class=\"panel-body\">\n              Panel content\n            </div>\n          </div>\n        </div><!-- /.col-sm-4 -->\n        <div class=\"col-sm-4\">\n          <div class=\"panel panel-success\">\n            <div class=\"panel-heading\">\n              <h3 class=\"panel-title\">Panel title</h3>\n            </div>\n            <div class=\"panel-body\">\n              Panel content\n            </div>\n          </div>\n          <div class=\"panel panel-info\">\n            <div class=\"panel-heading\">\n              <h3 class=\"panel-title\">Panel title</h3>\n            </div>\n            <div class=\"panel-body\">\n              Panel content\n            </div>\n          </div>\n        </div><!-- /.col-sm-4 -->\n        <div class=\"col-sm-4\">\n          <div class=\"panel panel-warning\">\n            <div class=\"panel-heading\">\n              <h3 class=\"panel-title\">Panel title</h3>\n            </div>\n            <div class=\"panel-body\">\n              Panel content\n            </div>\n          </div>\n          <div class=\"panel panel-danger\">\n            <div class=\"panel-heading\">\n              <h3 class=\"panel-title\">Panel title</h3>\n            </div>\n            <div class=\"panel-body\">\n              Panel content\n            </div>\n          </div>\n        </div><!-- /.col-sm-4 -->\n      </div>\n\n\n      <div class=\"page-header\">\n        <h1>Wells</h1>\n      </div>\n      <div class=\"well\">\n        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>\n      </div>\n\n\n      <div class=\"page-header\">\n        <h1>Carousel</h1>\n      </div>\n      <div id=\"carousel-example-generic\" class=\"carousel slide\" data-ride=\"carousel\">\n        <ol class=\"carousel-indicators\">\n          <li data-target=\"#carousel-example-generic\" data-slide-to=\"0\" class=\"active\"></li>\n          <li data-target=\"#carousel-example-generic\" data-slide-to=\"1\"></li>\n          <li data-target=\"#carousel-example-generic\" data-slide-to=\"2\"></li>\n        </ol>\n        <div class=\"carousel-inner\" role=\"listbox\">\n          <div class=\"item active\">\n            <img data-src=\"holder.js/1140x500/auto/#777:#555/text:First slide\" alt=\"First slide\">\n          </div>\n          <div class=\"item\">\n            <img data-src=\"holder.js/1140x500/auto/#666:#444/text:Second slide\" alt=\"Second slide\">\n          </div>\n          <div class=\"item\">\n            <img data-src=\"holder.js/1140x500/auto/#555:#333/text:Third slide\" alt=\"Third slide\">\n          </div>\n        </div>\n        <a class=\"left carousel-control\" href=\"#carousel-example-generic\" role=\"button\" data-slide=\"prev\">\n          <span class=\"glyphicon glyphicon-chevron-left\" aria-hidden=\"true\"></span>\n          <span class=\"sr-only\">Previous</span>\n        </a>\n        <a class=\"right carousel-control\" href=\"#carousel-example-generic\" role=\"button\" data-slide=\"next\">\n          <span class=\"glyphicon glyphicon-chevron-right\" aria-hidden=\"true\"></span>\n          <span class=\"sr-only\">Next</span>\n        </a>\n      </div>\n\n\n    </div> <!-- /container -->\n\n\n    <!-- Bootstrap core JavaScript\n    ================================================== -->\n    <!-- Placed at the end of the document so the pages load faster -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script>window.jQuery || document.write('<script src=\"../../assets/js/vendor/jquery.min.js\"><\\/script>')</script>\n    <script src=\"../../dist/js/bootstrap.min.js\"></script>\n    <script src=\"../../assets/js/docs.min.js\"></script>\n    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->\n    <script src=\"../../assets/js/ie10-viewport-bug-workaround.js\"></script>\n  </body>\n</html>\n","x":470,"y":620,"wires":[[]]},{"id":"e650f0e0.e662","type":"debug","z":"461bd837.22a2d8","name":"","active":true,"console":"false","complete":"true","x":1130,"y":60,"wires":[]},{"id":"37354fe2.6d48d","type":"debug","z":"461bd837.22a2d8","name":"","active":true,"console":"false","complete":"false","x":630,"y":340,"wires":[]},{"id":"f8b6e8d6.f0a618","type":"alchemy-feature-extract","z":"461bd837.22a2d8","name":"","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"doc-emotion":true,"x":1080,"y":980,"wires":[["9b1ef352.9d854"]]},{"id":"d2f10bbe.cc1bf","type":"watson-conversation-v1","z":"461bd837.22a2d8","name":"","workspaceid":"945285b5-421e-4ec3-8372-afcb7a3676b6","x":1070,"y":920,"wires":[[]]},{"id":"9b1ef352.9d854","type":"function","z":"461bd837.22a2d8","name":"","func":"return msg;","outputs":1,"noerr":0,"x":1270,"y":980,"wires":[["2715be28.bf3f3a"]]},{"id":"2715be28.bf3f3a","type":"rpi-gpio out","z":"461bd837.22a2d8","name":"","pin":"","set":true,"level":"0","out":"out","x":1450,"y":980,"wires":[]},{"id":"232080c2.7f98c","type":"ui_group","z":"","name":"Watson Speech2Text Output:","tab":"bd4dfd67.cbbde","order":null,"disp":true,"width":"26"},{"id":"c85b715d.8e442","type":"cloudant","z":"461bd837.22a2d8","host":"8f08c2a7-1521-4b14-8652-5250c0e9c29f-bluemix.cloudant.com","name":"Cloudant NoSQL DB - Speech to Text "},{"id":"11c628fd.6cfd37","type":"MySQLdatabase","z":"461bd837.22a2d8","host":"localhost","port":"3306","db":"node-red-micropi","tz":""},{"id":"bd4dfd67.cbbde","type":"ui_tab","z":"","name":"Recording","icon":"dashboard","order":0}]